@inject IMediator Mediator

@if (stats is null) {
    <p>Loading…</p>
    return;
}

<div class="ui-row"><span>2025 QUOTES</span><span>@stats.YearCount / @stats.QuoteCount</span></div>
<div class="ui-row"><span>2025 GAMES</span><span>@stats.GameCount</span></div>
<div class="ui-row"><span>TOTAL REQUESTS</span><span>@stats.RequestCount</span></div>
<hr />
<div class="ui-row"><span>LEAST REQUESTED</span><span>@stats.UnrequestedQuote</span></div>
<div class="ui-row">
    <span>PEAK REQUESTS</span>
    <span>
        @stats.PeakRequestDay.ToString("yyyy-MM-dd")
        ( @stats.PeakRequestCount Hits )
    </span>
</div>
<div class="ui-row"><span>LONGEST GAP</span><span>@stats.LongestGapInDays Days</span></div>
<hr />
<div class="ui-row"><span>TGA CATEGORIES WON BY DS2</span><span>@stats.MemeStat</span></div>

@code {
    private QuoteStatsEntry? stats;

    protected override async Task OnInitializedAsync() {
        stats = await Mediator.Send(new GetQuoteStatsQuery());
    }
}
